
import java.util.List;
#parse("init_var_global.vm")

class ${entity.name}DaoMyBatis implements ${entity.name}Dao {
  private final SqlSession sqlSession;

  public ${entity.name}DaoMyBatis(SqlSession sqlSession) {
    this.sqlSession = sqlSession;
  }


	@Override
	public Optinal<${entity.name}> findById( $fn.argumentsListWithWrapperType( $jdbc.attributesForPrimaryKey ) ) {
		${entity.name} entity = this.sqlSession.select("${namespace}/$fn.tolowercase(${entity.name})", $fn.argumentsListWithWrapperType( $jdbc.attributesForPrimaryKey ) );
		return Optinal.of(entity);		
	}

}
