<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="news.articles.ArticleMapper">
  <resultMap id="$BEANNAMEResultMap" type="$BEANNAME">
    <id     property="id"      column="ID"       javaType="string"  />
    <result property="link"    column="LINK"     javaType="string"/>
    <result property="title"   column="TITLE"    javaType="string"/>
    <result property="resume"  column="RESUME"   javaType="string"/>
    <result property="content" column="CONTENT"  javaType="string"/>
  </resultMap>

  <!-- SelectAllPaginado-->

  <!-- SelectByAllPropertiesPaginado -->

  <!--SelecById -->

  <!-- update -->

  <!--Delete -->

  <!--Create -->

  <select id="selectAllArticles" resultMap="ArticleResultMap">
  <![CDATA[
    SELECT
      ARTICLES.ID,
      ARTICLES.LINK,
      ARTICLES.TITLE,
      ARTICLES.RESUME,
      ARTICLES.CONTENT
    FROM
      ARTICLES ARTICLES
  ]]>    
  </select>
</mapper>